* {}

body {
    background-color: steelblue;
}

#inputContainer {
    display: flex;
}

#inputContainer>div {
    margin: auto;
}

#buttonContainer {
    display: flex;
}

button {
    margin: auto;
    width: 100px;
}

p {
    width: 50%;
    margin: auto;
    font-size: 2rem;
}